body{
    font-size: 5px;
}
section{
    font-size: 1rem;
}
.hidden{
    display: none;
}

.component .editing span{
    overflow: hidden;
}

.edit_clicks{
    text-align: right;
}

.editing .title{
    width: 50%;
}

.viewing h6{
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}